.reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 64px);

    h1 {
        margin: 0 0 12px;
        font-size: 28px;
        font-weight: 500;
    }

    &__wrapper {
        width: 1035px;
        margin: 25px 0 45px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin-bottom: 20px;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;

        .mat-form-field {
            margin: 8px 20px;
        }
    }
}
