<div class="uploaders">
    <div class="uploaders__header mat-elevation-z2">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Whatsapps</mat-label>
            <input matInput type="number" [(ngModel)]="whatsapps" />
            <button *ngIf="whatsapps" matSuffix mat-icon-button aria-label="Clear" (click)="whatsapps = 0">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Leads</mat-label>
            <input matInput type="number" [(ngModel)]="leadsQty" />
            <button *ngIf="whatsapps" matSuffix mat-icon-button aria-label="Clear" (click)="leadsQty = 0">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button (click)="prepareLeads()" mat-raised-button color="warn">Prepare Leads</button>
    </div>

    <div class="uploaders__content">
        <mat-spinner class="uploaders__loading" *ngIf="isLoading"></mat-spinner>

        <div *ngIf="!isLoading" class="uploaders__box" appDnd (fileDropped)="uploadFile($event)">
            <input type="file" (change)="uploadFile($event.target)" />
            <h3>Remove Duplicates</h3>

            <span>Browse for file</span>
            <div class="uploaders__result" *ngIf="loadedProfiles.length > 0">
                <div fxLayout="row">
                    <mat-icon>file_copy</mat-icon>
                    <h4>{{ profileFileTitle }}</h4>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading" class="uploaders__box" appDnd (fileDropped)="uploadDatabase($event)">
            <input type="file" (change)="uploadDatabase($event.target)" />
            <h3>Database Upload</h3>

            <span>Browse for file</span>
            <div class="uploaders__result" *ngIf="loadedDatabase.length > 0">
                <div fxLayout="row">
                    <mat-icon>file_copy</mat-icon>
                    <h4>{{ databaseFileTitle }}</h4>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading" class="uploaders__box" appDnd (fileDropped)="uploadLeads($event)">
            <input type="file" (change)="uploadLeads($event.target)" />
            <h3>New Leads</h3>

            <span>Browse for file</span>
            <div class="uploaders__result" *ngIf="loadedLeads.length > 0">
                <div fxLayout="row">
                    <mat-icon>file_copy</mat-icon>
                    <h4>{{ leadsFileTitle }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="uploaders__download" *ngIf="isPrepared && !isLoading">
        <button (click)="downloadProfiles(profileFileTitle)" mat-raised-button color="primary">No Duplicates</button>
        <button (click)="downloadDatabase(databaseFileTitle)" mat-raised-button color="primary">Database</button>
        <button (click)="downloadLeads()" mat-raised-button color="primary">Leads</button>
    </div>
</div>
