<div class="viewer">
    <div class="viewer__wrapper">
        <button mat-raised-button color="primary" (click)="generatePDF()" class="btn btn-primary">Gerar PDF</button>

        <div class="viewer__report" #reportContent>
            <div class="viewer__report-header">
                <img src="./assets/images/logo.png" alt="Blast! Assessoria" />
                <h1>Relátorio de aplicação</h1>
                <h3>
                    Usuário: <span>@{{ report.user.toString().toUpperCase() }}</span>
                </h3>
                <h3>
                    Data: <span>{{ currentDate | date : "dd/MM/yyyy" }}</span>
                </h3>
                <h3>
                    Valor: <span>{{ report.price | currency : "BRL" }}</span>
                </h3>
                <h3>
                    Redes: <span>{{ report.medias }}</span>
                </h3>
            </div>
            <div *ngFor="let socialmedia of this.mappedInputs" class="viewer__report-body">
                <div class="viewer__report-body-item" *ngIf="socialmedia.items.length > 0">
                    <h4>{{ socialmedia.title | titlecase }}</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Quantidade</th>
                                <th>Cortesias</th>
                                <th>Serviço</th>
                                <th>Url</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of socialmedia.items">
                                <td width="25%">{{ item["Qty"] }}</td>
                                <td width="25%">{{ item["Cortesy"] }}</td>
                                <td width="25%">{{ item["Service"] }}</td>
                                <td width="25%">
                                    <a href="#">{{ item["Url"] }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="viewer__report-footer">
                <p>Gerado por Blast! Assessoria — <a target="_blank" href="https://blastassessoria.com.br">blastassessoria.com.br</a></p>
            </div>
        </div>
    </div>
</div>
